*{
    margin: 0;
}
.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    height: 50px;
    background-color: black;
    margin-bottom: 20px;
}

.tombol{
    
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    left: 10px;
    top: 0px;
}
.menu{
    color: white;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    margin-right: 20px;
}
.text1{
    color: white;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.th{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px ;
    gap: 20px;
}
.text{
    flex: 1;
    min-width: 250px;
    
}
.img{
    flex: 1;
    min-width: 250px;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    
    
}
.input1{
    min-width: 25%;
    height: 20px;
    border: 2px solid rgb(150, 148, 148);
    border-radius: 40px;
    box-shadow: 0 0px 20px rgba(21,8,8, 0.5);
    
}
.settbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px;
    gap: 20px;
    flex-wrap: wrap;
}
.box{
    height: 270px;
    width: 280px;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid rgb(206, 206, 206);
    box-shadow: 0 0px 15px;
}
.gambar{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.akh{
    width: 100%;
    height: 150px;
    background-color: black;
}